.oct-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.oct-order__created {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.oct-order__cancelled {
  text-align: center;
}

.oct-order__qr-code {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.oct-order__cancel-button {
  margin-bottom: 25px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.oct-order__time {
  text-align: center;
}
