.container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-hamburger {
  display: none !important; /* This is how it looks on mobile */
}

@media screen and (min-width: 201px) and (max-width: 1024px) {
  .nav-hamburger {
    display: block !important; /* This is how it looks on desktop */
  }
}
@media screen and (max-width: 1024px) {
  .container ul {
    display: none !important;
  }
}

.bm-menu {
  background: #fff !important;
  color: black !important;
}

.cross-button {
  color: black !important;
  background-color: black !important;
}

.bm-burger-bars-hover {
  background: red;
}
