.container {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-hamburger {
  display: none !important; /* This is how it looks on mobile */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .nav-hamburger {
    display: block !important; /* This is how it looks on desktop */
  }
}
@media screen and (max-width: 1024px) {
  .container ul {
    display: none !important;
  }
}
