.registerform {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .registerform {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.margintop {
  margin-top: 20px;
}
